footer{
    background-color: var(--primary-light);
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.nav-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
}
.footer-columns a {
  width: 30ch;
}

.nav-container a{
    color: white;
    margin-bottom: 5px;
    font-family: 'Roboto Light';
    font-size: 15px;
}
.footer-columns{
    display: flex;
    flex-direction: column;
    text-align: start;
}
footer .title{
    color: white;
    font-size: 0.875em;
}
.socials a{
    text-decoration: none;
}
.copyright{
    width: 50%;
    margin: auto;
}
@media screen and (max-width: 1400px){
   .nav-container{
    width: 85%;
    justify-content: center;
   } 
   .footer-columns{
    padding: 0 10px 0 10px;
   }
   .copyright{
    margin: auto;
   }
   .copyright a{
    margin: auto;
   }
}
@media  screen and (max-width: 800px) {
    footer{
        height: fit-content;
    }
  .nav-container{
    flex-direction: column;
    align-items: center;

  }
  .footer-columns{
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }  
  .socials{
    margin-bottom: 50px;
  }
  .copyright{
    margin-bottom: 50px;
  }
}